.feedback-slider__wrapper {
  min-height: 364px;
  padding: 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.feedback-slider__container {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.feedback-slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feedback-slider__quote {
  margin: 0;
  margin-bottom: 44px;
  order: 2;
}

.feedback-slider__text {
  margin: 0;
  text-align: center;
}

.feedback-slider__author {
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  order: 1;
  text-align: center;
}

.feedback-slider__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
}

.feedback-slider__author-description {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.feedback-slider__toggles {
  text-align: center;
}

.feedback-slider__toggle {
  @media (min-width: @desktop-width) {
    &:not(:last-child):not(:first-child) {
      display: none;
    }

    &:first-child {
      position: absolute;
      left: 80px;
    }

    &:last-child {
      position: absolute;
      right: 80px;
    }
  }
}
