.gallery__main {
  display: flex;
  flex-direction: column;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__item {
  margin-bottom: 20px;
  background-color: rgba(242, 242, 242, 1);
}

.gallery__text {
  padding: 54px 0 60px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.gallery__picture {
  margin-left: 20px;
  margin-bottom: 26px;

  &--panorama {
    margin-left: 0;
  }
}

.gallery__item-title {
  margin-left: 17px;
  font-size: 14px;
  height: 24px;
  font-weight: 700;
}

.gallery__user-lastseen {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}

.gallery__item-text {
  margin-left: 17px;
  font-size: 14px;
  line-height: 24px;
}

.gallery__like {
  margin-left: 17px;
  margin-bottom: 26px;
}
