.intro__main {
  min-height: 1002px;
  padding: 0 20px;
  text-align: center;
  background-image: url("../img/grey-background.png");
  background-repeat: no-repeat;
  background-position: 0 100px;
}

.intro__header {
  min-height: 271px;
  padding-top: 46px;
  padding-bottom: 70px;
  background-color: rgba(29, 38, 49, 1);
}

.intro__item {
  margin-bottom: 43px;
}

.intro__title {
  min-height: 250px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.intro__fact {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.intro__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.intro__item--friends::after {
  content: "";
  display: block;
  width: 157px;
  height: 320px;
  margin: 0 auto;
  background: url("../img/iphone-screen-3.png") 10px 77px no-repeat,
    url("../img/iphone-3.png") 0 40px no-repeat;
}
