.location {
  position: relative;
  min-height: 200px;
  background: url('../img/triangle-white-footer.png') 0 -90px no-repeat,
              url('../img/map.jpg') no-repeat;
}

.location__tag {
  position: absolute;
  top: 95px;
  left: 142px;
  width: 36px;
  height: 36px;
  background: url('../img/location-tag-background.png') no-repeat;
}

.location__tag::after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: '';
  width: 16px;
  height: 16px;
  background-color: rgba(210, 40, 86, 1);
  border-radius: 50%;
}
