.page-footer {
  min-height: 284px;

  @media (min-width: @tablet-width) {
    min-height: 127px;
  }

  @media (min-width: @desktop-width) {
    min-height: 197px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__logo {
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-right: 79px;
  }
}

.page-footer__social {
  @media (min-width: @tablet-width) {
    margin-right: 94px;
  }
}

.page-footer__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-footer__item {
  width: 48px;
  height: 48px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.page-footer__link {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(40, 54, 69, 1);

  &:last-child {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__emblem {
  position: absolute;
  top: 15px;
  left: 15px;
}
