.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(40, 54, 69, 1);
}

.page__body {
  width: 320px;
  margin: 0 auto;
}
