.page-header {
  min-height: 733px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 1);
  background: url("../img/main-screen.jpg"), url("../img/hand-phone.png"), url("../img/back-mobile.jpg");
  background-position: 104px 207px, 0 176px, 50% 0;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 112px 199px, 320px 286px, auto 462px;
  background-color: rgba(29, 38, 49, 1);

  @media (min-resolution: 2dppx) {
    background: url("../img/main-screen@2x.jpg"), url("../img/hand-phone@2x.png"), url("../img/back-mobile@2x.jpg");
    background-position: 104px 207px, 0 176px, 50% 0;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 112px 199px, 320px 286px, auto 462px;
    background-color: rgba(29, 38, 49, 1);
  }

  @media (min-width: @tablet-width) {
    min-height: 655px;
    background: url("../img/main-screen-tablet.jpg"), url("../img/tablet-phone.png"), url("../img/back-tablet.jpg");
    background-position: 371px 173px, 0 118px, 50% 0;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 195px 345px, 660px 545px, cover;
    background-color: rgba(29, 38, 49, 1);

    @media (min-resolution: 2dppx) {
      background: url("../img/main-screen-tablet@2x.jpg"), url("../img/tablet-phone@2x.png"), url("../img/back-tablet@2x.jpg");
      background-position: 371px 173px, 0 118px, 50% 0;
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-size: 195px 345px, 660px 545px, cover;
      background-color: rgba(29, 38, 49, 1);
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 963px;
    background: url("../img/main-screen-desktop.jpg"), url("../img/phone-desktop.png"), url("../img/back-desktop.jpg");
    background-position: 570px 384px, 0 318px, 50% 0;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 230px 408px, 1050px 645px, cover;
    background-color: rgba(29, 38, 49, 1);

    @media (min-resolution: 2dppx) {
      background: url("../img/main-screen-desktop@2x.jpg"), url("../img/phone-desktop@2x.png"), url("../img/back-desktop@2x.jpg");
      background-position: 570px 384px, 0 318px, 50% 0;
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-size: 230px 408px, 1050px 645px, cover;
      background-color: rgba(29, 38, 49, 1);
    }
  }
}

.page-header__logo {
  display: block;
}

.page-header__image {
  fill: rgba(255, 255, 255, 1);

  &:hover {
    fill: rgba(210, 40, 86, 1);
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }

  &--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: @mobile-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--desktop {
    @media (max-width: @tablet-only) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.page-header__download {
  @media (min-width: @tablet-width) {
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 130px;
  }
}

.page-header__title {
  margin-bottom: 348px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 48px;
  }
}

.page-header__appstore-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.page-header__os-wrapper {
  display: flex;
  justify-content: center;
}

.page-header__appstore-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  width: 280px;
  height: 55px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 29px;
}

.page-header__download-button {
  display: block;
  background: transparent;
  border: none;
  width: 60px;
  height: 60px;
}

.page-header__prompt {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}
