.picture-form {

  &__header {
    padding: 49px 0 52px;
  }

  &__text {
    text-align: center;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
  }

  &__preview {
    margin: 20px 0 43px;
  }

  &__edit-tools {
    border: none;
  }
}
